.MobileMenuBlur {
    display: block;
    position: fixed;
    height: calc(100vh - clamp(65px, 5vw, 80px));
    width: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.082);
    margin: 0;
    z-index: 1250;
    top: clamp(65px, 5vw, 80px);
}
