html {
  scroll-behavior: smooth;
}
body {
  margin: 0;

  background-color: #10253f;
  background-image: linear-gradient(215deg, #0f172a 0%, #1f2937 52%, #0ea5a4 100%);

  font-family: "Outfit", sans-serif;
  font-family: "Raleway", sans-serif;
}

body,
#root {
  height: 100%;
}

#Section1 {
  display: flex;

  align-items: center;
  top: 0;
  position: relative;
  height: 95vh;

  z-index: 0;
}
#Section2,
#Section3,
#Section4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  top: 0;
  position: relative;
  height: auto;
}
#Section3,
#Section4 {
  height: auto;
  justify-content: space-between;
}
#Section2 {
  scroll-margin-top: 70px;
}
#Section2 > h1,
#Section3 > h1,
#Section4 > h1 {
  position: relative;
  top: 0;
  text-shadow: 3px 4px 7px rgba(73, 73, 73, 0.8);

  color: white;
  font-size: clamp(2.5rem, 2vw, 6rem);
}

/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/

@media only screen and (max-width: 870px) {
  .MenuButton {
    display: none;
  }
}
@media only screen and (min-width: 870px) {
  .MobileMenu {
    display: none;
  }
  .MobileMenuBlur {
    display: none !important;
  }
}
